
  <header class="header">
    <nav class="nav">
      <ul>
        <li class="<%= if @underlined == "home" then 'underline' end %>"><a href="/" title="Home">Home</a></li>
        <li class="<%= if @underlined == "about" then 'underline' end %>"><a href="/about" title="About">About</a></li>
        <li class="<%= if @underlined == "blog" then 'underline' end %>"><a href="/blog" title="Blog">Blog</a></li>
        <li class="<%= if @underlined == "contact" then 'underline' end %>"><a href="/contact" title="Contact">Contact</a></li>
      </ul>
    </nav>
  </header>

